<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome - Page</title>
</head>
<body>
<h1>Hello world!</h1>
<h1 th:text="${#authentication.name}"></h1>


<div sec:authorize="hasRole('ROLE_USER_SMS_LOGIN')">
    This will only be displayed if authenticated user has role ROLE_USER_SMS_LOGIN.
</div>


<a href="/logout">logout</a>
</body>
</html>